.countryDetail {
    text-align: center;
    position: relative;
    min-height: 500px;
    &__photo {
        width: 100%;
        max-width: 1200px;
    }
    &__title{
        font-size: 40px;
        display: none;
    }
    .info-field{
        display: none;
    }
   
    @media(max-width:991px){
        &__title{
            display: block;
        }
        &__photo {
            display: none;
        }
        .info-field{
            display: block;
        }
    }
   
}