.countries {
  text-align: center;
  &__search {
    border: 1px solid rgb(170, 170, 170);
    width: 80%;
    height: 50px;
    border-radius: 10px;
    padding: 20px;
    outline: 0;
  }
  &__resultsList{
    height: 400px;
    overflow:auto;
  }
 
  &__result {
    font-weight: 400;
    
  }
}
