.info-field{
    background-color: $light-grey;
    padding: 20px 20px;
    flex-basis: 33%;
    flex-grow: 1;
    margin: 0 2%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 11px 11px 20px -16px rgba(158, 149, 149, 0.75);

    &:nth-of-type(1){
        h2{
            color: red;
        }
    }
    &:nth-of-type(2){
        h2{
            color: rgb(4, 153, 4);
        }
    }
    &:nth-of-type(3){
        h2{
            color: gray;
        }
    }
    h1
    {   
        align-self: flex-start;
        font-size: 2rem;
        font-weight: 400;
       
        padding-top: 25px;
        margin: 0 auto;
        
    }
    h2{
        font-size: 3.4rem;
        margin: 0;
        font-weight: 800;
        padding: 40px 0;
    }
}
@media(max-width:991px){
    .info-field{
        padding:10px;
        h1{
            font-size: 1.8rem;
        }
        h2{
            font-size: 3rem;
            padding:30px 0;
        }
    }
}
@media(max-width:767px){
.info-field{
    margin-bottom: 15px;
}
}